:root{
    --cyan600: hsl(192, 37%, 48%);
    --cyan300: hsl(192, 90%, 77%);

    --purple600: hsl(268, 34%, 53%);
    --purple300: hsl(268, 100%, 86%);

    --slate900: hsl(240, 21%, 20%);
    --slate600: hsl(240, 10%, 57%);
    --slate300: hsl(240, 18%, 85%);

    --white: hwb(0 98% 2%);

    --txt-1-size: 4rem;
    --txt-1-lineheight: 1.1;
    --txt-1-size-mob: 2.5rem;
    --txt-1-lineheight-mob: 1.1;

    --txt-2-size: 2.5rem;
    --txt-2-lineheight: 1.1;
    --txt-2-size-mob: 2rem;
    --txt-2-lineheight-mob: 1.1;

    --txt-3-size: 1rem;
    --txt-3-lineheight: 1.1;
    --txt-3-letterspacing: 0.25rem;
    --txt-3-size-mob: 0.75rem;
    --txt-3-lineheight-mob: 1.1;

    --txt-4-size: 1.125rem;
    --txt-4-lineheight: 1.1;
    --txt-4-weight: 500;

    --txt-5-size: 1rem;
    --txt-5-lineheight: 1.5;
}
h1{margin: 0; color: var(--slate900); font-size: var(--txt-1-size-mob); line-height: var(--txt-1-lineheight-mob); font-weight: 900;}
p{color: var(--slate600); font-weight: 500; font-size: var(--txt-5-size); line-height: var(--txt-5-lineheight); margin: 1.5rem 0;}
body{
    background-color: var(--white);
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
}

.logo{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}
.hero-cluster img{
    height: 10rem;
}
.hero-cluster{
    margin-top: 4rem; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    gap: 1.063rem;
}
.group-chat-block{
    display: grid;
    justify-self: center;
    grid-column: 1 / -1;
}
.group-chat-block, .modern-use-block, .more-together-block{
    width: 19.063rem;
}
.wrapper{
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-block{
    display: grid;
    grid-template-columns: 1;
    place-items: center;
    gap: 1.063rem;
}
.btn{
    padding: 1.375rem 2.563rem;
    text-decoration: none;
    border-radius: 10rem;
    font-weight: 900;
    font-size: var(--txt-5-size);
    color: var(--white);
}
.download{ 
    max-width: 12.063rem;
    background-color: var(--cyan600);
}
.download span{
    color: var(--cyan300);
}
.whatisit{
    max-width: 10.063rem;
    background-color: var(--purple600);
}

.modern-use{
    margin-top: 4rem;
}
.page1{
    width: 54px;
    height: 54px;
    color: var(--slate600);
    background-color: var(--white);
    font-weight: 900;
    font-size: var(--txt-5-size);
    border: 1px solid var(--slate300);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-line {
  border-left: 1px solid var(--slate300);
  height: 5rem;
}
.people-img img{
    height: 9rem;
    width: 9.219rem;
    border-radius: 0.65rem;
}
.people-img{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(0.7rem, 1rem, 1.2rem);   
}

.modern-use-block{
    margin-top: 4rem;
}
h4{
    margin: 0;
    color: var(--cyan600);
    font-weight: 900;
    font-size: var(--txt-3-size-mob);
    letter-spacing: var(--txt-3-letterspacing);
    text-transform: uppercase;
}
h2{
    margin: 1rem 0 2rem 0;
    color: var(--slate900);
    font-size: var(--txt-2-size-mob);
    line-height: var(--txt-2-lineheight-mob);
    font-weight: 900;
}
.modern-use-block p{
    margin: 0;
}

.more-together{
    background-image: linear-gradient(rgb(from var(--cyan600) r g b / 0.9), 
    rgb(from var(--cyan600) r g b / 0.9)
    ),
    url("assets/mobile/image-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.more-together-block h2{
    margin: 0;
    color: var(--white);
    font-weight: 900;
    font-size: var(--txt-2-size-mob);
    line-height: var(--txt-4-lineheight);   
}
.more-together-block p{
    color: var(--white);
    font-weight: var(--txt-4-weight);
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1.5rem 0;
}
.next-page{
    position: relative;
    margin-top: 10.938rem;
}
.line{
    position: absolute;
    display: grid; place-items: center;
    align-self: center;
    justify-self: center;
    bottom: -25px;
}
.more-together-block{
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.download-purple{
    background-color: var(--purple600);
}
.more-together-block span{
    color: var(--purple300);
}

@media (min-width: 48rem){
    h1{
        font-size: 3rem;
    }
    h4{
        font-size: 0.875rem;
    }
    h2{
        font-size: 2.25rem;
    }
    .hero-cluster img{
        height: 18.938rem;
    }
    .hero-cluster{
        gap: 2rem;
    }
    .group-chat-block{
        width: 28rem;
        margin-top: 2.5rem;
    }
    .btn-block{
        display: grid;
        grid-template-columns: repeat(2, 1fr);    
    }
    .download{
        justify-self: end;
    }
    .whatisit{
        justify-self: start;
    }

    .modern-use{
        margin-top: 7.5rem;
    }
    .people-img{
        grid-template-columns: repeat(4, 1fr);
        gap: clamp(0.5rem, 1.5rem, 2.5rem);   
    }
    .people-img img{
        width: 9.5rem;
        height: 10rem;   
    }
    .modern-use-block, .more-together-block{
        width: 31.5rem;
    }

    .more-together{
        background-image: linear-gradient(rgb(from var(--cyan600) r g b / 0.9), 
        rgb(from var(--cyan600) r g b / 0.9)
        ),
        url("assets/tablet/image-footer.jpg");
    }

    .more-together-block h2{
        font-size: 2.25rem;
    }
    .more-together-block p{
        font-size: 1rem;
    }
}

@media (min-width: 60rem){
    h1{
        font-size: var(--txt-1-size);
    }
    p{
        font-size: var(--txt-4-size);
    }
    h4{
        font-size: var(--txt-3-size);
    }
    h2{
        font-size: var(--txt-2-size);
    }
    .more-together-block h2{
        font-size: var(--txt-2-size);
        text-align: left;
    }
    .more-together-block p{
        font-size: var(--txt-4-size);
        text-align: left;
        margin: 0;
    }

    .modern-use-block{
        width: 33.125rem;
    }
    .more-together-block{
        width: 70rem;
    }

    .hero-cluster{
        grid-template-columns: repeat(3,1fr);
        gap: 8rem;
    }
    .group-chat-block{
        grid-row: 1;
        grid-column: 2;
    }
    .hero-right{
        align-self: flex-end;
        justify-self: end;
    }
    .people-img{
        gap: clamp(1rem, 2rem, 3rem);   
    }
    .people-img img{
        width: 16rem;
        height: 16rem;   
    }

    .more-together{
        background-image: linear-gradient(rgb(from var(--cyan600) r g b / 0.9), 
        rgb(from var(--cyan600) r g b / 0.9)
        ),
        url("assets/desktop/image-footer.jpg");
    }

    .more-together-block{
        grid-template-columns: repeat(3, 1fr);
        padding: 7rem 0;
        align-items: start;
    }
}